.btn-setting{
    font-size: 33px;
    color: #0596df;
}
.btn-regIncome, .btn-regExpense, .btn-saving{
	float: right;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}